<h1>Editar telefone</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @telefone, :class => "btn btn-small dark-blue" %> 
<%= link_to 'Voltar', telefones_path, :class => "btn btn-small dark-blue" %>
