<h1>Editar ativo</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @ativo_outro, :class => "btn btn-small dark-blue" %> |
<%= link_to 'Voltar', ativo_outros_path, :class => "btn btn-small dark-blue" %>
