<h2>Etiqueta de Patrimônio</h2>
<h4>Tipo do Ativo: Outros</h4>
<h4> Código de Patrimônio = <%= @ativo_outro.id.to_s + "/Outros/"+ @ativo_outro.nome.to_s %></h4>
<h4> Data de Aquisição = <%= @ativo_outro.data_de_compra.to_formatted_s(:d_m_y) %></h4>
<%= link_to_function 'Imprimir', "window.print()", :class => "btn btn-small dark-blue" %>
<%= link_to 'Voltar', ativo_outros_path, :class => "btn btn-small dark-blue" %>
