<h1>Editar Chamados</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @chamado , :class => "btn btn-small dark-blue"%> 
<%= link_to 'Voltar', chamados_path, :class => "btn btn-small dark-blue" %>
