<h1><%= @rel%> </h1>
<img src= <%="#{@url}" %> alt="" />

<%= link_to 'Voltar', chamados_path, :class => "btn btn-small dark-blue" %>


<!-- 
Image:Chart6.png

The URL: http://chart.apis.google.com/chart?cht=p&chs=400x200&chd=t:65,20,15&chxt=x&chxl=0:|Search+Engines|Referring+Sites|Direct+Traffic

Here's an explanation of the pieces:

    cht=p declares the chart type
    chs=400x200 sets the size of the chart to be 400 pixels wide and 200 pixels high
    chd=t:65,20,15 holds the data for the three types of visitors
    chxt=x turns on the labels
    chxl=0:|Search+Engines|... adds a label for each slice of the pie

     --> 