<p>Olá <%= @resource.email %>!</p>

<p>Requisição de mudança de senha. Você pode realizar a mudança através do link abaixo.</p>

<p><%= link_to 'Mudar a senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez essa solicitação, por favor ignore esse e-mail.</p>
<p> Para mudar a senha, acesse o link acima e gere uma nova senha.</p>
