<h1>Editar Material</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @material, :class => "btn btn-small dark-blue" %> 
<%= link_to 'Voltar', materials_path, :class => "btn btn-small dark-blue" %>
